In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
from PIL import Image
%matplotlib inline

In [2]:
import pickle

In [3]:
# load pickle data
df = pickle.load(open('C:/project/16B-PROJECT/Data/dataframe_images_100_100.pickle','rb'))

In [4]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,female,188,180,184,188,173,179,192,178,216,...,109,111,115,116,122,116,119,120,117,111
1,female,32,24,32,27,29,29,29,32,36,...,58,47,27,33,22,28,22,36,62,17
2,female,55,71,109,153,181,194,196,195,195,...,54,53,56,55,58,61,62,61,58,57
3,female,17,16,16,18,20,18,16,14,8,...,142,144,137,126,119,118,94,66,80,98
4,female,186,183,177,164,157,156,158,154,151,...,25,34,49,66,55,81,69,113,110,91

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3770 entries, 0 to 3939
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 36.0+ MB

In [6]:
# checking for missing values
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

# Data Preprocessing
- Remove missing
- Data Normalization (min max scalling)

In [7]:
# removing missing values
df.dropna(axis=0,inplace=True)

In [8]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

In [9]:
# split the into two parts
X = df.iloc[:,1:].values # inpendent features
y = df.iloc[:,0].values # dependent

In [10]:
X.shape

(3770, 10000)

# Min Max Scalling 
## Xnorm = $\frac {x - minValue} { maxValue - minValue}$

In [11]:
X.min() , X.max()

(0, 255)

In [12]:
Xnorm = X / X.max()

In [13]:
Xnorm

array([[0.7372549 , 0.70588235, 0.72156863, ..., 0.47058824, 0.45882353,
        0.43529412],
       [0.1254902 , 0.09411765, 0.1254902 , ..., 0.14117647, 0.24313725,
        0.06666667],
       [0.21568627, 0.27843137, 0.42745098, ..., 0.23921569, 0.22745098,
        0.22352941],
       ...,
       [0.71764706, 0.71764706, 0.71764706, ..., 0.4745098 , 0.10980392,
        0.20784314],
       [0.30980392, 0.30588235, 0.30196078, ..., 0.44705882, 0.45490196,
        0.45490196],
       [0.76078431, 0.76078431, 0.76470588, ..., 0.58039216, 0.52941176,
        0.5372549 ]])

In [14]:
Xnorm.shape

(3770, 10000)

In [15]:
# female = 1, male = 0
y_norm = np.where(y=='female',1,0)

In [16]:
# save x and y in numpy zip
np.savez('C:/project/16B-PROJECT/Data/data_10000_norm.npz',Xnorm,y_norm)